
:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

#successLoad {
  position: fixed;
  right: 20px;
  left: 0;
  bottom: 10px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

#successLoad .content-load {
  margin: 1.2em;
  padding: 1.5em;
  width: 300px;
  text-align: right;
  background-color: #00cc08;
  color: #fff;
}

#errorLoad {
  position: fixed;
  right: 20px;
  left: 0;
  bottom: 10px;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}
.jumbotron-bold {
    font-weight: bold;
}
.bk-w-80 {
    width: 80%!important;
}
.bk-box-height-auto {

}
.bk-box {
    max-width: 100%;
    max-height: 300px;
}
.bk-box-big {
    max-width: 100%;
    height: 500px;
    padding-top: 100px;
}
.jumbotron .container {
    max-width: 40rem;
}
/* Background */
.bk-bg-treva {
    overflow: hidden;
}
.bk-rounded-bg {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 30px;
}
/* Button */
.bk-btn-large {
    width: 250px;
    padding: 10px;
}
.bk-btn-warning{
    color: #fff;
    background-color: #FF9700;
    border-color: #FF9700;
}
.bk-btn-warning:hover{
    color: #fff;
    background-color: #FF9700;
    border-color: #FF9700;
}
.bk-btn-outline-white{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.bk-btn-outline-blue{
    color: #429cf6;
    background-color: transparent;
    border-color: #429cf6;
}

/* Font */
.bk-f2{
    font-size: 35px;
}
.bk-f3{
    font-size: 20px;
}
.title-block {
    font-size: 2.5rem;
}
.bk-box-title p{
    font-size: 22px;
}
.f-treva {
    color: #429cf6;
}
.f-right{
    text-align: right;
}
.f-left{
    text-align: left;
}

/* box */
.bk-box-cimage {
    max-width: 100%;
    max-height: 300px;
}
.bk-box-content {
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
}
.bk-box-title {
    padding-top: 30px;
    padding-bottom: 30px;
}
.bk-box-title-add {
    padding-top: 20px;
}
.bk-content-facilities {
    padding-top: 100px;
    padding-bottom: 50px;
}
.bk-box-span {
    font-size: 20px;
    padding-bottom: 20px;
}
/* Image */
.bk-img-right {
    margin-top: 50px;
    margin-left: 30px;
}
.bk-img-right-cta2 {
    margin-top: 60px;
    margin-left: -190px;
}
.bk-img-left {
    margin-top: 50px;
    float: right;
    margin-right: 20px;
}
.bk-img-left-cta2 {
    margin-top: 60px;
    float: right;
    margin-right: -190px;
}
.bk-img-bg-rounded {
    width: 550px;
    height: 550px;
    border-radius: 100%;
    margin-top: -135px;
    object-fit: cover;
}
/* facilities */
.bk-content-facilities .card {
    border:none;
}
.bk-content-facilities .card-footer {
    border:none;
    background: transparent;
}
/* Responsive */
@media (max-width: 1024px) {
    .title-block {
        font-size: 2rem;
    }
    .bk-img-left {
        margin-right: -85px;
    }
    .bk-img-left-cta2 {
        margin-top: 50px;
        margin-right: -383px;
    }
    .bk-img-right {
        margin-left: -80px;
    }
}
@media (max-width: 768px) {
    .bk-box-title-add {
        padding-top: 0px;
    }
    .bk-box-big .bk-btn-large{
        width: 200px;
    }
    .bk-img-right-cta2 {
        margin-top: 50px;
        margin-left: -383px;
        z-index: 2;
    }
}
@media (max-width: 425px) {
    .bk-box-cimage {
        max-height: none;
    }
    .bk-pst {
        position: absolute;
        z-index: 1;
    }
    .bk-box-big {
        height: auto;
        padding-bottom: 20px;
        text-align: center;
        padding-top: 50px;
    }
    .bk-box-title {
        padding-top: 10px;
    }
    .bk-box-cimage .text-left {
        text-align: center!important;
    }
    .bk-box-cimage .bk-img-bg-rounded {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        margin: 10px;
        object-fit: cover;
        margin-left: 45px;
    }
    .bk-img-right-cta2 {
        margin-left: -220px;
    }
    .bk-img-left-cta2 {
        margin-right: -220px;
    }
    .bk-box-big .bk-btn-warning {
        margin-bottom: 5px;
    }
    .bk-img-pst {
        margin-left: 35px;
    }
    .bk-rounded-bg {
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 375px) {
    .bk-box-cimage .bk-img-bg-rounded {
        margin-left: 25px;
    }
}
@media (max-width: 320px) {
    .title-block {
        font-size: 1.75rem;
    }
    .bk-box-cimage .bk-img-bg-rounded {
        margin-left: -5px;
    }
}
