
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Poppins');

#mobile-nav-toggle {
    position: fixed;
    right: 15px;
    z-index: 9999;
    top: 17px;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #ffffff;
    font-weight: 900;
}
@media (max-width: 800px) {
    #mobile-nav-toggle {
        display: inline;
    }
    #nav-menu-container {
        display: none;
    }
    div#navbarResponsive {
        display: none;
    }
}

#mobile-nav {
    position: fixed;
    top: 0px;
    padding-top: 50px;
    bottom: 0;
    z-index: 1999;
    background: linear-gradient(to bottom right, #CC6600 0%, #CDB79E 85%);
    right: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
#mobile-nav ul .navbar-nav-right {
    float: center;
    padding-right: 0px;
}
#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
}

#mobile-nav ul li a:hover {
    color: #e33737;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul i.fa-chevron-up {
    color: #e33737;
}

#mobile-nav ul li a {
    text-transform: none;
}

#mobile-nav ul {
    color: #e33737;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 1030;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    right: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

.timeline {
    list-style: none;
    top:50px;
    padding: 0px 0 0px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 10%;
    margin-left: -1.5px;
}
    .timeline:after {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 10%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 65px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 80%;
    padding: 0px;
    position: relative;
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 40px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    left: 10%;
    margin-left: -20px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline-panel {
    left:25%;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-title {
    font-family: 'Montserrat';
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    font-family: 'Montserrat';
    font-size: 10pt;
    margin-bottom: 0;
    line-height: 1.5rem;
}

.timeline-body > p + p {
    margin-top: 5px;
}
@media screen(max-width: 425px) {
    .timeline-panel{
        left:5%;
    }
    ul.timeline > li > .timeline-panel {
        float: left;
    }       
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    .timeline-panel {
        float: left;
    }
    
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
/* OWL - SLIDER */
#owl-slider .item{
    cursor:grab;
    cursor:-webkit-grab;
    width: 100%;
}

#owl-slider .item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.owl-item active{
    width: 100%!important;
}


/* Styling Pagination*/
.owl-theme .owl-controls .owl-page span{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100px;
    height: 5px;
    margin-left: 2px;
    margin-right: 2px;
    background: #ccc;
    border:none;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #3F51B5;
}
#owl-slider.owl-carousel .owl-dots {
    display: none;
}

html {
    scroll-behavior: smooth;
}
.box-video {
    width: 100%;
    height: 100%;
}
.p-button {
    padding-bottom: 30px;
    padding-top: 30px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-bottom-color: #80bdff!important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.nav-item {
    font-weight: bold;
    margin-right: 30px;
}
.font-mila  {
    color:#CC6600;
}
.line-mila {
    width: 25%;
    height: 2px;
    background: linear-gradient(to bottom right, #CC6600 0%, #CDB79E 85%);
}
.onsosmed ul {
    margin: auto;
    list-style: none;
    display: flex;
    padding: 20px;
}
.onsosmed li {
    text-align: center;
    width: 50px;
}
@media(max-width: 425px) {
    .logoku {
        margin:auto;
    }
}
@media(max-width: 768px) {
    .logoku {
        margin:auto;
    }
    .onsosmed ul {
        margin: auto;
        list-style: none;
        display: flex;
        padding: 20px;
    }
}
.img-milaorg {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    padding: 0.8rem !important;
    margin: auto;
}
.img-produk {
    width: 50px;
    height:50px;
    border-radius: 100%;
}
.img-milaserve{
    padding:30px;
    margin: 70px 10px 20px 40px;
    width: 360px;
    height: 360px;
}
@media (max-width: 425px) {
    .img-milaserve {
        margin-top: 100px;
        left:100px;
    }
    .w-80 {
        width: 100%;
        margin:auto;
        padding:auto;
    }
    .img-slider {
        height: 300px;
    }
}
@media (max-width: 768px) {
    .img-milaserve {
        padding: 10px;
        margin: 70px 10px 20px 0px;
    }
}
.btnmila {
    margin: 15px;
    width: 200px;
    border-radius: 20px;
    border:1px solid #fff;
}
.btnmila:hover {
    background-color: #CC6600;
    border-color: #CDB79E;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    margin-right: 30px;
}
.section-tentang {
    padding-top: 125px;
    padding-bottom:125px;
}
.section-produk-header {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-produk {
    padding-top: 100px;
    padding-bottom:100px;
}
.section-bergabung {
    padding-top: 80px;
    padding-bottom:100px;
}
.section-kontak {
    padding-top: 110px;
    padding-bottom:85px;
}

/* MENU HEADER */
.menu-header {
    position: relative;
    display: block;
    z-index: 100;
    background: linear-gradient(to bottom right, #CC6600 0%, #CDB79E 85%);
}
a.navbar-brand {
    padding: 0;
}
body,
section.section-pilih {
    overflow-x: hidden;
}
.logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 100px;
}
nav#mainNav {
    padding: 3px;
}
#mainNav {
    position: fixed;
    width: 100%;
    height: 65px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000 !important;
    font-size: 12px;
    padding: 1rem;
    background: linear-gradient(to top left, #CC6600 0%, #CDB79E 85%);
}

#mainNav .navbar-toggler {
    font-size: 16px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #000000;
    border: unset;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 12px !important;
    font-weight: 800;
    color: #fff; 
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.2s;
}
ul.navbar-nav.ml-auto li a {
    font-size: 16px !important;
    font-weight: 100;
}
@media (max-width: 1024px) {
    ul.navbar-nav.ml-auto li a {
        font-size: 9pt!important;
    }
}

/* HEADERKU */
.captionku {
    position: absolute;
    font-family: 'Poppins';
    right: 0%;
    bottom: 40%;
    top: 40%;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.captionku h3{
    font-weight: bold;
    font-size: 26pt;
}
.text-caption {
    font-size: 18px;
}
@media (max-width: 425px) {
    .captionku h3 {
        font-size: 20pt;
    }
    .text-caption {
        font-size: 14px;
        padding: 10px;
    }
    .btnmila {
        margin:auto;
        margin-bottom: 5px!important;
        width: 200px;
    }
}
@media (max-width: 768px) {
    .section-tentang {
        padding-top:80px;
        padding-bottom: 50px; 
    }
}
/* TENTANG */
.tentang {
    font-family: 'Montserrat';
    text-align: left;
}
.tentang h2 {
    text-transform: uppercase;
    font-weight: 800;
}
.tentang .line-mila {
    margin-top: 10px;
    margin-bottom: 30px;
}
.tentang p {
    font-size: 14px;
}
.bg-play {
    background-color: rgb(237, 205, 126)!important;
}
.middle-video {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
@media (max-width: 1024px) {
    .tentang h2 {
        margin-bottom: 10px;
    }
    .tentang p{
        font-size: 12px;
    }
    section#header {
        padding: 0px;
    }
    .logo {
        height: 45px;
        width: 80px;
    }
}
@media (max-width: 768px) {
    .tentang h2 {
        font-size: 20pt;
        margin-bottom: 10px;
    }
    .tentang .line-mila {
        margin-bottom: 30px;
    }
}
@media (max-width: 425px) {
    .tentang h2 {
        text-align: center;
    }
    .tentang .line-mila {
        margin: auto;
        margin-top:10px;
        margin-bottom: 35px;
    }
}
@media(max-width: 320px) {
    .tentang h2 {
        text-align: center;
        font-size: 16pt;
    }
    .tentang .line-mila {
        margin: auto;
        margin-top:10px;
        margin-bottom: 20px;
    }
}

.title-produk {
    font-family: 'Montserrat';
    text-align: center;
    margin-bottom:80px;
}
.title-produk h2 {
    text-transform: uppercase;
    font-weight: 800;
}
.title-produk .line-mila {
    width: 10%;
    margin: auto;
    margin-top: 10px;
}
@media (max-width: 1024px) {
    .section-produk {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width: 768px) {
    .section-produk {
        padding-top: 40px;
    }
    .title-produk .lin {      
        left:300px;
    }
}
@media (max-width: 425px) {
    .section-produk {
        margin-top: 0px;
    }
    .title-produk .line-mila {      
        width: 20%;
    }
}
@media (max-width: 320px) {
    .section-produk {
        margin-top: 0px;
    }
    .title-produk h2:before {
        margin-top: 100px;
        left:100px;
    }
}
.title-produk p {
    font-family: 'Montserrat';
    text-align: center;
}
.content-work {
    font-family: 'Montserrat';
    text-align: center;
}
.content-work h5 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.4rem!important;
}
.content-work p {
    font-size: 10pt;
    padding: 25px;
}

.title-bergabung {
    font-family: 'Montserrat';
    text-align: center;
}
.title-bergabung h2 {
    text-transform: uppercase;
    font-weight: 800;
}
.title-bergabung .line-mila {
    width: 10%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
@media (max-width: 1024px) {
    .section-bergabung-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .section-bergabung-header {
        padding-top: 50px;
    }
    .section-bergabung {
        margin-top:0px;
    }
    .title-bergabung .line-mila {
        margin-top: 30px;
    }
}
@media (max-width: 425px) {
    .section-bergabung {
        margin-top:0px;
    }
    .title-bergabung .line-mila {
        width: 20%;
        margin-top: 30px;
    }
}
@media (max-width: 375px) {
    .section-bergabung {
        margin-top:0px;
    }
    .title-kontak-sub {
        padding-top: 20px;
    }
    .captionku h3 {
        font-size: 16pt;
        line-height: 0rem;
    }
    .text-caption {
        font-size: 12px;
        padding: 15px;
    }
    .btnmila {
        width: 150px;
        font-size: 14px;
    }
        .window {
        width: 300px !important;
        height: 430px !important;
        background: #fff;
        border-radius: 10px;
        position: relative;
        padding: 10px;
    }
}
@media (max-width: 320px) {
    .section-bergabung {
        margin-top:0px;
    }
    .onsosmed ul {
        margin-left: 0px;
       
    }
}
.title-bergabung p {
    font-size:10pt;
}

/* KONTAK KAMI */
.title-kontak {
    font-family:'Montserrat';
    text-align: center;
}
.title-kontak h2{
    text-transform: uppercase;
    font-weight: 800;
}
.title-kontak .line-mila{
    width: 10%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}
.title-kontakku h2{
    font-family:'Montserrat';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-weight: 800;
}
.title-kontakku h2:before{
    content: '';
    width: 115px;
    height: 2px;
    background: linear-gradient(to right, #CC6600 0%, #CDB79E 85%);
    position: absolute;
    margin-top: 50px;
    left:200px;
}

.section-kontak {
    margin-top: 10%;
}
.section-kontak {
    padding-top: 20px;
}

@media (max-width: 1024) {
    .title-kontakku h2:before {
        left:200px;
    }
}
@media (max-width: 768px) {
    .title-kontak .line-mila {
        left:280px;
    }
    .window {
        margin-top: 15%!important;
    }
}
@media (max-width: 425px) {
    .section-kontak {
        padding-top: 30px;
    }
    .title-kontak .line-mila {
        width: 20%;
        margin-bottom: 40px;
    }
    .section-kontak {
        width: 90%;
        margin: auto;
        margin-top: 15%;
    }
    .title-kontakku h2 {
        font-family: 'Montserrat';
        font-size: 22pt;
    }
    .title-kontakku h2:before {
        left:120px;
    }
}
@media (max-width: 375px) {
    .section-kontak {
        margin-top:20px;
    }
    .title-kontak .line-mila {
        left:120px !important;
    }
    .title-kontakku h2 {
        font-family: 'Montserrat';
        font-size: 18pt;
    }
    .title-kontakku h2:before {
        left:100px;
        width: 80px;
    }
}
@media (max-width: 320px) {
    .section-kontak {
        margin-top:20px;
    }
    .title-kontak .line-mila {
        left:100px;
    }
    .bgtestimoni {
        height: 470px;
    }
}
.box-contact {
    margin-bottom: 15px;
}
.imgcontact img {
    min-width: 20px;
    max-width: 25px;
    height: 25px;
    float: left;
    margin-right: 20px;
}
.title-kontak-sub {
    font-family: 'Montserrat';
}
.title-kontak-sub h5 {
    text-transform: uppercase;
    font-size:12pt ;
}
.title-kontak-sub .line-mila {
    width: 10%;
    height: 2px;
    background: linear-gradient(to bottom right, #CC6600 0%, #CDB79E 85%);
    margin-top: 10px;
}
.title-kontak-sub p{
    margin-top: 30px;
    text-align: left!important;
    font-size: 10pt;
}
.copyright {
    font-family: 'Montserrat';
    text-align: center;
    padding: 10px;
}
.copyright span{
    color: #000;
    font-size: 10pt;
    margin:20px;
}